/* front add */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
}

/* share */

.text-center{
    text-align: center;
}

/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    background-color: rgba(229, 84, 115, 0.1);
    gap: 30px;
    margin-bottom: 0;
    
}
.header-text{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
}
.header-description{
    color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}

.banner-image img{
    width: 435px;
    height: 580px;
    padding-top: 50px;
    margin-bottom: 0;
}

.btn{
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgb(229, 84, 115);
    padding: 11px 23px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}


/* freature */

.freature{
    padding: 0 110px;
    margin: 110px 70px;
}
.section-title{
    color: rgb(39, 39, 39);
font-family: Lato;
font-size: 40px;
font-weight: 800;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
}

.section-description{
    /* border: 2px solid green; */
    width: 60%;
    margin: 20px auto;
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}

.fiture-image{
    margin:70px auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0 50px;
}
.image-box{
    width: 350px;
    height: 500px;
    /* border: 2px solid red; */
    /* gap: 20px; */
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 50% 50% 0 0;
    margin-bottom: 20px;
    
}
/* .image-box-2{
    padding-top: 70px;
} */
/* .image-box-3{
    padding-bottom: 40px;
    width: 400px;
    height: 480px;
    border: 2px solid yellow;
    
} */
.img-details{
    text-align: center;
    text-decoration: underline;
}
/* .img-details-3{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 40px;
    padding-bottom: 40px;
} */